
.tabs-container .nav-tabs.noborders > li.active > a,
.tabs-container .nav-tabs.noborders > li.active > a:hover,
.tabs-container .nav-tabs.noborders > li.active > a:focus {
  border: 1px solid #053c57;
  background-color: #053c57;
  color: #acec29;
}

.tabs-container .nav-tabs {
  border-bottom: none;
}

.panel-body.nobackground {
  background:transparent;
  border:none;
  border-radius: 2px;
  padding: 10px 0;
  position: relative;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px;
}